#app-main {
  position: relative;
  min-width: 1024PX;/*no*/
  max-width: 1920PX;/*no*/
  height: calc(100vh - 1.25rem);
  margin: 0 auto;
  padding: 10px 10px 0;
  .map1 {
    width: 6.475rem;
    height: 6.475rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("~assets/bg/map.png");
    background-size: 100% 100%;
    opacity: 0.3;
    display: none;
  }
  .map2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.0375rem;
    height: 8.0375rem;
    background: url("~assets/bg/lbx.png");
    background-size: 100% 100%;
    animation: rotate1 15s linear infinite;
    opacity: 0.6;
    display: none;
  }
  .map3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.075rem;
    height: 7.075rem;
    background: url("~assets/bg/jt.png");
    background-size: 100% 100%;
    animation: rotate2 10s linear infinite;
    opacity: 0.6;
    display: none;
  }
  .map-visual {
    display: block !important;
  }
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%)
    rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%)
    rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%)
    rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%)
    rotate(-360deg);
  }
}
